.back {
    background: linear-gradient(
        90deg,
        rgb(243, 176, 174) 0%,
        rgb(205, 91, 91) 100%
      );
    width: 300px;
    height: 400px;
    border-radius: 25px;
    margin: 0 auto;
}
#img {
    width: 180px;
    height: 210px;
    margin-left: 60px;
}
#name {
    text-transform: uppercase;
    font-size: larger;
    text-align: center;
}
.btn {
    cursor: pointer;
    border-radius: 12px;
    margin-left: 20px;
    margin-top: -10px;
    border-width: 6px;
    border-color: red;
    color: white;
    background-color: red;
}
p {
    color: white
}